## x만큼 간격이 있는 n개의 숫자

In [12]:
def number_generator(x, n):
#     count = n-1
    count = 1
    b = []
    while count <= n:
        a = x * count
        print(a)
        count += 1 
        b.append(a)
    return b

In [13]:
number_generator(3, 5)

3
6
9
12
15

[3, 6, 9, 12, 15]

In [23]:
def number_generator_for(x, n):
    b = []
    for x in range(x, x*n+ 1, x):
        b.append(x)
    return b

In [24]:
number_generator_for(2, 3)

2
4
6

[2, 4, 6]

## 행렬의 덧셈

## 같은 숫자는 싫어

In [25]:
def no_countinuous(s):
    sep = set(s)
    return sep

In [26]:
no_countinuous("133303")

{'0', '1', '3'}

In [36]:
def no_countinuous_answer(s):
    r = []
    for i in range(len(s)):
        if i == 0:
            r.append(s[i])
        elif s[i] != s[i-1]:
            r.append(s[i])
        return r

In [37]:
no_countinuous_answer("133303")

['1']

In [87]:
def no_countinous_2(s):
    result = []
    compare = ""
    for now in s:
        print("비교 값: " + compare)
        print("지금 값: " + now)
        if compare != now:
            compare = now
            result.append(now)
    return (result)
# 이전값이 계속 유지가 되어야 함
# 비교값과 비교되는 값을 확실히 !
# 필요없는 경우는 뛰어넘을 수도 
# compare에는 반복된 숫자의 경우, 첫번째 반복 숫자만 들어간다.

In [88]:
no_countinous_2("47330")

비교 값:
지금 값: 4
비교 값: 4
지금 값: 7
비교 값: 7
지금 값: 3
비교 값: 3
지금 값: 3
비교 값: 3
지금 값: 0

['4', '7', '3', '0']

## 서울에서 김서방 찾기

## 홀수와 짝수